# Bài tập thực hành 1.3.3: Tìm hiểu các tính năng và cách sử dụng sản phẩm AutoViz

## 3.1 Giới thiệu

### AutoViz là một thư viện Python giúp tự động hóa việc trực quan hóa dữ liệu. Nó tạo nhiều loại biểu đồ để phân tích mối quan hệ giữa các biến, phân phối dữ liệu, và các đặc tính quan trọng khác.

## 3.2 Cài đặt

In [9]:
# Cài đặt bằng lệnh:
# pip install autoviz

## 3.3 Cách sử dụng

In [10]:
# Khai báo thư viện
import pandas as pd
import numpy as np
from autoviz.AutoViz_Class import AutoViz_Class
import matplotlib.pyplot as plt
import seaborn as sns
from datetime import datetime

In [11]:
# Đọc dữ liệu
print("=== ĐỌC DỮ LIỆU ===")
df = pd.read_csv('../data/marketing_campaign.csv', sep='\t')
print(f"Kích thước dữ liệu: {df.shape}")
print(f"\nCác cột: {df.columns.tolist()}")

# Khám phá dữ liệu cơ bản
print("\n=== THÔNG TIN CƠ BẢN ===")
print(df.info())

print("\n=== THỐNG KÊ MÔ TẢ ===")
print(df.describe())

print("\n=== KIỂM TRA GIÁ TRỊ NULL ===")
print(df.isnull().sum())

# Xử lý dữ liệu
print("\n=== XỬ LÝ DỮ LIỆU ===")

# 1. Xử lý giá trị null trong Income
if df['Income'].isnull().sum() > 0:
    median_income = df['Income'].median()
    df['Income'].fillna(median_income, inplace=True)
    print(f"Đã điền {df['Income'].isnull().sum()} giá trị null trong Income bằng median: {median_income}")

# 2. Chuyển đổi Dt_Customer sang datetime và tạo feature mới
df['Dt_Customer'] = pd.to_datetime(df['Dt_Customer'], format='%d-%m-%Y')
current_date = df['Dt_Customer'].max()
df['Customer_Days'] = (current_date - df['Dt_Customer']).dt.days
df['Customer_Years'] = df['Customer_Days'] / 365.25

# 3. Tính tuổi từ Year_Birth
df['Age'] = 2014 - df['Year_Birth']  # Dataset từ 2014

# 4. Loại bỏ outliers trong Age (nếu có)
df = df[(df['Age'] > 18) & (df['Age'] < 100)]

# 5. Tạo các feature tổng hợp
df['Total_Purchases'] = df['NumWebPurchases'] + df['NumCatalogPurchases'] + \
                        df['NumStorePurchases'] + df['NumDealsPurchases']

df['Total_Amount_Spent'] = df['MntWines'] + df['MntFruits'] + df['MntMeatProducts'] + \
                           df['MntFishProducts'] + df['MntSweetProducts'] + df['MntGoldProds']

df['Total_Accepted_Campaigns'] = df['AcceptedCmp1'] + df['AcceptedCmp2'] + \
                                  df['AcceptedCmp3'] + df['AcceptedCmp4'] + \
                                  df['AcceptedCmp5'] + df['Response']

df['Total_Children'] = df['Kidhome'] + df['Teenhome']

# 6. Tạo segment theo chi tiêu
df['Spending_Segment'] = pd.cut(df['Total_Amount_Spent'], 
                                 bins=[0, 100, 500, 1000, float('inf')],
                                 labels=['Low', 'Medium', 'High', 'Premium'])

print(f"\nKích thước dữ liệu sau xử lý: {df.shape}")

# Lưu dữ liệu đã xử lý
df.to_csv('marketing_campaign_processed.csv', index=False)
print("\nĐã lưu dữ liệu đã xử lý vào 'marketing_campaign_processed.csv'")

# Phân tích với AutoViz
print("\n=== PHÂN TÍCH VỚI AUTOVIZ ===")
print("Đang tạo visualizations tự động...")

# Khởi tạo AutoViz
AV = AutoViz_Class()

# Chọn các cột quan trọng để visualize (loại bỏ ID và datetime)
cols_to_viz = df.select_dtypes(include=[np.number]).columns.tolist()
cols_to_viz = [col for col in cols_to_viz if col not in ['ID', 'Z_CostContact', 'Z_Revenue']]

# Tạo một DataFrame con với các cột cần visualize
df_viz = df[cols_to_viz + ['Education', 'Marital_Status', 'Spending_Segment']].copy()

# Chạy AutoViz
try:
    dft = AV.AutoViz(
        filename='',
        dfte=df_viz,
        depVar='Total_Amount_Spent',  # Biến mục tiêu
        verbose=1,
        lowess=False,
        chart_format='png',
        max_rows_analyzed=2000,
        max_cols_analyzed=30
    )
    print("\n✓ AutoViz đã hoàn thành!")
    print("Các biểu đồ đã được lưu trong thư mục 'AutoViz_Plots'")
except Exception as e:
    print(f"\nLỗi khi chạy AutoViz: {e}")
    print("Thử phân tích thủ công...")

# Phân tích bổ sung
print("\n=== PHÂN TÍCH BỔ SUNG ===")

print("\n1. Phân bố theo Education:")
print(df['Education'].value_counts())

print("\n2. Phân bố theo Marital_Status:")
print(df['Marital_Status'].value_counts())

print("\n3. Phân bố theo Spending_Segment:")
print(df['Spending_Segment'].value_counts())

print("\n4. Tỷ lệ chấp nhận chiến dịch:")
campaign_acceptance = {
    'Campaign 1': df['AcceptedCmp1'].sum(),
    'Campaign 2': df['AcceptedCmp2'].sum(),
    'Campaign 3': df['AcceptedCmp3'].sum(),
    'Campaign 4': df['AcceptedCmp4'].sum(),
    'Campaign 5': df['AcceptedCmp5'].sum(),
    'Last Campaign': df['Response'].sum()
}
for camp, count in campaign_acceptance.items():
    print(f"{camp}: {count} ({count/len(df)*100:.2f}%)")

print("\n5. Thống kê chi tiêu theo danh mục:")
spending_categories = {
    'Wines': df['MntWines'].sum(),
    'Fruits': df['MntFruits'].sum(),
    'Meat Products': df['MntMeatProducts'].sum(),
    'Fish Products': df['MntFishProducts'].sum(),
    'Sweet Products': df['MntSweetProducts'].sum(),
    'Gold Products': df['MntGoldProds'].sum()
}
for cat, amount in spending_categories.items():
    print(f"{cat}: ${amount:,.0f} ({amount/df['Total_Amount_Spent'].sum()*100:.2f}%)")

print("\n6. Correlation với Total_Amount_Spent:")
correlations = df[['Income', 'Age', 'Recency', 'Total_Children', 
                   'Total_Purchases', 'NumWebVisitsMonth']].corrwith(df['Total_Amount_Spent'])
print(correlations.sort_values(ascending=False))

# Tạo một số visualizations thủ công
print("\n=== TẠO BIỂU ĐỒ BỔ SUNG ===")

plt.style.use('seaborn-v0_8-darkgrid')
fig, axes = plt.subplots(2, 2, figsize=(15, 12))

# 1. Phân bố chi tiêu
axes[0, 0].hist(df['Total_Amount_Spent'], bins=50, color='skyblue', edgecolor='black')
axes[0, 0].set_title('Phân bố Tổng Chi Tiêu', fontsize=12, fontweight='bold')
axes[0, 0].set_xlabel('Total Amount Spent')
axes[0, 0].set_ylabel('Frequency')

# 2. Chi tiêu theo Education
df.groupby('Education')['Total_Amount_Spent'].mean().sort_values().plot(
    kind='barh', ax=axes[0, 1], color='coral'
)
axes[0, 1].set_title('Chi Tiêu Trung Bình theo Trình Độ Học Vấn', fontsize=12, fontweight='bold')
axes[0, 1].set_xlabel('Average Spending')

# 3. Tỷ lệ chấp nhận chiến dịch
campaign_data = pd.Series(campaign_acceptance)
axes[1, 0].bar(range(len(campaign_data)), campaign_data.values, color='lightgreen', edgecolor='black')
axes[1, 0].set_xticks(range(len(campaign_data)))
axes[1, 0].set_xticklabels(campaign_data.index, rotation=45, ha='right')
axes[1, 0].set_title('Số Lượng Chấp Nhận theo Chiến Dịch', fontsize=12, fontweight='bold')
axes[1, 0].set_ylabel('Count')

# 4. Correlation heatmap cho các biến quan trọng
important_cols = ['Income', 'Age', 'Total_Amount_Spent', 'Total_Purchases', 
                  'Recency', 'NumWebVisitsMonth']
corr_matrix = df[important_cols].corr()
sns.heatmap(corr_matrix, annot=True, fmt='.2f', cmap='coolwarm', 
            ax=axes[1, 1], square=True, cbar_kws={'shrink': 0.8})
axes[1, 1].set_title('Correlation Matrix', fontsize=12, fontweight='bold')

plt.tight_layout()
plt.savefig('marketing_analysis_summary.png', dpi=300, bbox_inches='tight')
print("✓ Đã lưu biểu đồ tổng hợp vào 'marketing_analysis_summary.png'")
plt.show()

print("\n=== HOÀN TẤT ===")
print(f"Tổng số khách hàng: {len(df)}")
print(f"Tổng doanh thu: ${df['Total_Amount_Spent'].sum():,.0f}")
print(f"Chi tiêu trung bình/khách hàng: ${df['Total_Amount_Spent'].mean():,.2f}")
print(f"Tỷ lệ chấp nhận chiến dịch trung bình: {df['Total_Accepted_Campaigns'].mean():.2%}")

=== ĐỌC DỮ LIỆU ===
Kích thước dữ liệu: (2240, 29)

Các cột: ['ID', 'Year_Birth', 'Education', 'Marital_Status', 'Income', 'Kidhome', 'Teenhome', 'Dt_Customer', 'Recency', 'MntWines', 'MntFruits', 'MntMeatProducts', 'MntFishProducts', 'MntSweetProducts', 'MntGoldProds', 'NumDealsPurchases', 'NumWebPurchases', 'NumCatalogPurchases', 'NumStorePurchases', 'NumWebVisitsMonth', 'AcceptedCmp3', 'AcceptedCmp4', 'AcceptedCmp5', 'AcceptedCmp1', 'AcceptedCmp2', 'Complain', 'Z_CostContact', 'Z_Revenue', 'Response']

=== THÔNG TIN CƠ BẢN ===
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2240 entries, 0 to 2239
Data columns (total 29 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ID                   2240 non-null   int64
 1   Year_Birth           2240 non-null   int64
 2   Education            2240 non-null   object
 3   Marital_Status       2240 non-null   object
 4   Income               2216 non-null   float64
 5   Kidhome              2240 non-null   int64
 6   Teenhome             2240 non-null   int64
 7   Dt_Customer          2240 non-null   object
 8   Recency              2240 non-null   int64
 9   MntWines             2240 non-null   int64
 10  MntFruits            2240 non-null   int64
 11  MntMeatProducts      2240 non-null   int64
 12  MntFishProducts      2240 non-null   int64
 13  MntSweetProducts     2240 non-null   int64
 14  MntGoldProds         2240 non-null   int64
 15  NumDealsPurchases    2240 non-null   int64
 16  NumWebPurchases      2240 non-null   int64
 17  NumCatalogPurchases  2240 non-null   int64
 18  NumStorePurchases    2240 non-null   int64
 19  NumWebVisitsMonth    2240 non-null   int64
 20  AcceptedCmp3         2240 non-null   int64
 21  AcceptedCmp4         2240 non-null   int64
 22  AcceptedCmp5         2240 non-null   int64
 23  AcceptedCmp1         2240 non-null   int64
 24  AcceptedCmp2         2240 non-null   int64
 25  Complain             2240 non-null   int64
 26  Z_CostContact        2240 non-null   int64
 27  Z_Revenue            2240 non-null   int64
 28  Response             2240 non-null   int64
dtypes: float64(1), int64(25), object(3)
memory usage: 507.6+ KB
None

=== THỐNG KÊ MÔ TẢ ===
            ID       Year_Birth      Income        Kidhome     Teenhome    \
count   2240.000000  2240.000000    2216.000000  2240.000000  2240.000000
mean    5592.159821  1968.805804   52247.251354     0.444196     0.506250
std     3246.662198    11.984069   25173.076661     0.538398     0.544538
min        0.000000  1893.000000    1730.000000     0.000000     0.000000
25%     2828.250000  1959.000000   35303.000000     0.000000     0.000000
50%     5458.500000  1970.000000   51381.500000     0.000000     0.000000
75%     8427.750000  1977.000000   68522.000000     1.000000     1.000000
max    11191.000000  1996.000000  666666.000000     2.000000     2.000000

         Recency     MntWines     MntFruits   MntMeatProducts  \
count  2240.000000  2240.000000  2240.000000    2240.000000
mean     49.109375   303.935714    26.302232     166.950000
std      28.962453   336.597393    39.773434     225.715373
min       0.000000     0.000000     0.000000       0.000000
25%      24.000000    23.750000     1.000000      16.000000
50%      49.000000   173.500000     8.000000      67.000000
75%      74.000000   504.250000    33.000000     232.000000
max      99.000000  1493.000000   199.000000    1725.000000

       MntFishProducts  MntSweetProducts  MntGoldProds  NumDealsPurchases  \
count    2240.000000       2240.000000     2240.000000     2240.000000
mean       37.525446         27.062946       44.021875        2.325000
std        54.628979         41.280498       52.167439        1.932238
min         0.000000          0.000000        0.000000        0.000000
25%         3.000000          1.000000        9.000000        1.000000
50%        12.000000          8.000000       24.000000        2.000000
75%        50.000000         33.000000       56.000000        3.000000
max       259.000000        263.000000      362.000000       15.000000

       NumWebPurchases  NumCatalogPurchases  NumStorePurchases  \
count    2240.000000        2240.000000         2240.000000
mean        4.084821           2.662054            5.790179
std         2.778714           2.923101            3.250958
min         0.000000           0.000000            0.000000
25%         2.000000           0.000000            3.000000
50%         4.000000           2.000000            5.000000
75%         6.000000           4.000000            8.000000
max        27.000000          28.000000           13.000000

       NumWebVisitsMonth  AcceptedCmp3  AcceptedCmp4  AcceptedCmp5  \
count     2240.000000      2240.000000   2240.000000   2240.000000
mean         5.316518         0.072768      0.074554      0.072768
std          2.426645         0.259813      0.262728      0.259813
min          0.000000         0.000000      0.000000      0.000000
25%          3.000000         0.000000      0.000000      0.000000
50%          6.000000         0.000000      0.000000      0.000000
75%          7.000000         0.000000      0.000000      0.000000
max         20.000000         1.000000      1.000000      1.000000

       AcceptedCmp1  AcceptedCmp2   Complain    Z_CostContact  Z_Revenue  \
count   2240.000000   2240.000000  2240.000000     2240.0       2240.0
mean       0.064286      0.013393     0.009375        3.0         11.0
std        0.245316      0.114976     0.096391        0.0          0.0
min        0.000000      0.000000     0.000000        3.0         11.0
25%        0.000000      0.000000     0.000000        3.0         11.0
50%        0.000000      0.000000     0.000000        3.0         11.0
75%        0.000000      0.000000     0.000000        3.0         11.0
max        1.000000      1.000000     1.000000        3.0         11.0

        Response
count  2240.000000
mean      0.149107
std       0.356274
min       0.000000
25%       0.000000
50%       0.000000
75%       0.000000
max       1.000000

=== KIỂM TRA GIÁ TRỊ NULL ===
ID                      0
Year_Birth              0
Education               0
Marital_Status          0
Income                 24
Kidhome                 0
Teenhome                0
Dt_Customer             0
Recency                 0
MntWines                0
MntFruits               0
MntMeatProducts         0
MntFishProducts         0
MntSweetProducts        0
MntGoldProds            0
NumDealsPurchases       0
NumWebPurchases         0
NumCatalogPurchases     0
NumStorePurchases       0
NumWebVisitsMonth       0
AcceptedCmp3            0
AcceptedCmp4            0
AcceptedCmp5            0
AcceptedCmp1            0
AcceptedCmp2            0
Complain                0
Z_CostContact           0
Z_Revenue               0
Response                0
dtype: int64

=== XỬ LÝ DỮ LIỆU ===
Đã điền 0 giá trị null trong Income bằng median: 51381.5

Kích thước dữ liệu sau xử lý: (2235, 37)

Đã lưu dữ liệu đã xử lý vào 'marketing_campaign_processed.csv'

=== PHÂN TÍCH VỚI AUTOVIZ ===
Đang tạo visualizations tự động...
    Since nrows is smaller than dataset, loading random sample of 2000 rows into pandas...
Shape of your Data Set loaded: (2000, 33)
#######################################################################################
######################## C L A S S I F Y I N G  V A R I A B L E S  ####################
#######################################################################################
Classifying variables in data set...
    Number of Numeric Columns =  2
    Number of Integer-Categorical Columns =  19
    Number of String-Categorical Columns =  2
    Number of Factor-Categorical Columns =  1
    Number of String-Boolean Columns =  0
    Number of Numeric-Boolean Columns =  7
    Number of Discrete String Columns =  0
    Number of NLP String Columns =  0
    Number of Date Time Columns =  1
    Number of ID Columns =  0
    Number of Columns to Delete =  0
    32 Predictors classified...
        No variables removed since no ID or low-information variables found in data set
Since Number of Rows in data 2000 exceeds maximum, randomly sampling 2000 rows for EDA...

################ Regression problem #####################
Number of variables = 32 exceeds limit, finding top 30 variables through XGBoost
    No categorical feature reduction done. All 30 Categorical vars selected
    Removing correlated variables from 2 numerics using SULO method
Selecting all (2) variables since none of them are highly correlated...
    Adding 30 categorical variables to reduced numeric variables  of 2
############## F E A T U R E   S E L E C T I O N  ####################
Current number of predictors = 32
    Finding Important Features using Boosted Trees algorithm...
        using 32 variables...
Finding top features using XGB is crashing. Continuing with all predictors...
    Since number of features selected is greater than max columns analyzed, limiting to 30 variables
#######################################################################################
######################## C L A S S I F Y I N G  V A R I A B L E S  ####################
#######################################################################################
Classifying variables in data set...
    30 Predictors classified...
    No variables removed since no ID or low-information variables found in data
    List of variables removed: []
   Total columns > 30, too numerous to print.
To fix these data quality issues in the dataset, import FixDQ from autoviz...
There are 151 duplicate rows in your dataset
    Alert: Dropping duplicate rows can sometimes cause your column data types to change to object!
    All variables classified into correct types.

Number of All Scatter Plots = 3
Could not draw some Time Series plots. agg function failed [how->mean,dtype->object]
All Plots done
Time to run AutoViz = 5 seconds

 ###################### AUTO VISUALIZATION Completed ########################

✓ AutoViz đã hoàn thành!
Các biểu đồ đã được lưu trong thư mục 'AutoViz_Plots'

=== PHÂN TÍCH BỔ SUNG ===

1. Phân bố theo Education:
Education
Graduation    1127
PhD            485
Master         370
2n Cycle       200
Basic           53
Name: count, dtype: int64

2. Phân bố theo Marital_Status:
Marital_Status
Married     862
Together    579
Single      479
Divorced    231
Widow        77
Alone         3
Absurd        2
YOLO          2
Name: count, dtype: int64

3. Phân bố theo Spending_Segment:
Spending_Segment
Low        711
Premium    601
Medium     531
High       392
Name: count, dtype: int64

4. Tỷ lệ chấp nhận chiến dịch:
Campaign 1: 144 (6.44%)
Campaign 2: 30 (1.34%)
Campaign 3: 162 (7.25%)
Campaign 4: 167 (7.47%)
Campaign 5: 162 (7.25%)
Last Campaign: 333 (14.90%)

5. Thống kê chi tiêu theo danh mục:
Wines: $680,035 (50.19%)
Fruits: $58,749 (4.34%)
Meat Products: $373,377 (27.56%)
Fish Products: $83,921 (6.19%)
Sweet Products: $60,528 (4.47%)
Gold Products: $98,300 (7.26%)

6. Correlation với Total_Amount_Spent:
Total_Purchases      0.754218
Income               0.664454
Age                  0.112326
Recency              0.021387
NumWebVisitsMonth   -0.499873
Total_Children      -0.500061
dtype: float64

=== TẠO BIỂU ĐỒ BỔ SUNG ===
✓ Đã lưu biểu đồ tổng hợp vào 'marketing_analysis_summary.png'

=== HOÀN TẤT ===
Tổng số khách hàng: 2235
Tổng doanh thu: $1,354,910
Chi tiêu trung bình/khách hàng: $606.22
Tỷ lệ chấp nhận chiến dịch trung bình: 44.65%

# Kết thúc